<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
  <body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
